<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/css/bootstrap.min.css}" href="../../../css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>

<body>
<th:block th:fragment="footer">
    <footer>
        <div class="container page-footer text-right">
            <p>
                Some static text
                <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    | Logged user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |
                    <a href="/login?logout" th:href="@{/logout}">Log Out</a>
                </span>
            </p>
        </div>
    </footer>

</th:block>
</body>
</html>